{% extends "projects/base.html" %}

{% block content %}
<section id="about">

    <!-- Introduction and Photo -->
    <div class="intro">
        <img src="/static/images/background.JPG" alt="Your Name" class="profile-pic">
        <h1>Hello! I'm Alexander Schilling</h1>
        <p>Welcome to my portfolio!</p>
    </div>

    <!-- Background and Experience -->
    <div class="about">
        <h2>About Me</h2>
        <p>I'm a 22-year-old Data Science student at the University of Applied Sciences and Arts Northwestern Switzerland. I hold a degree in "Certificate of competency in Computer Science EFZ specializing in application development" and "commercial vocational baccalaureate".</p>
        <p>In February 2022, I founded my own LLC company, "Schilling Trades GmbH," which specializes in selling limited sneakers from various brands such as Nike and Jordan. Running my own business has been an exciting and rewarding experience that has allowed me to develop skills in entrepreneurship, marketing, sales and customer service.</p>
        <p>Check out my business website here: <a href="https://www.sa-sneakers.ch/">sa-sneakers.ch</a></p>
        <p>In my free time, I enjoy travelling, hanging out with my friends, skiing, playing video games and watching football. - I'm a huge Liverpool FC fan.</p>
        <p>As a data science student, I'm always looking for new challenges and opportunities to grow my skills and knowledge, and I'm excited to see where my journey will take me next.</p>
    </div>

    <!-- Skills -->
    <div class="skills">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>R</li>
            <li>SQL</li>
            <li>Machine Learning</li>
            <li>Web Development (HTML, CSS)</li>
        </ul>
    </div>

    <!-- Contact Information -->
    <div class="contact">
        <h2>Contact Me</h2>
        <p>If you'd like to get in touch, feel free to <a href="/contact/">contact me</a> or find me on social media.</p>
    </div>

</section>
{% endblock %}
